$darkBlue : #27273f;
$black: #18192b;
$lightBlue: #129eef;
$lightGreen: #02efb3;
$gray: #bababa;

//Types colors
$normal: #BEBF93;
$fighting: #EF6F28;
$water: #37A7F2;
$fire: #EA514C;
$grass: #81CB60;
$electric: #F4E43A;
$poison: #C17DD0;
$insect: #D6F329;
$psychic: #F26BC2;
$ghost: #8481BD;
$ground: #B68D60;
$flying: #AE9AEF;
$ice: #1BD8DE;
$rock: #909090;
$dragon: #6D5DE7;
$steel: #A0B2B6;
$dark: #5E8692;
$fairy: #EC96DF;
$bug: #B6C542;