@import '../../styles/colors.scss';

body{
    
}
.page{
    width: 100%;
    background-color: $black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $darkBlue;
    border-bottom: 4px solid;
    border-image: linear-gradient(
        to right,
        $lightGreen,
        $lightBlue
    );
    border-image-slice: 4;
    img{
        margin-left: 90px;
    }
    .searchContainer{
        border: 1px solid $black;
        border-radius: 10px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $black;
        .search{
            width: 65%;
            height: 40px;
            background-color: transparent;
            color: white;
            &::placeholder{
                padding: 5px;
                color: $gray;
            }
        }
        button{
            width: 20%;
            height: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            .searchIcon{
                position: absolute;
            }
        }
    }
}

.cardsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 120px;
}
